body{
    background-color: rgb(16,16, 16);
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
h1{
    font-size:2.5em;
    font-weight:bold;
    margin: 0;
    letter-spacing: -1px;
}
h3, h5, h6{
    margin: 0;
}
.wrapper{
    display: grid;
    margin: 0 auto;
    max-width: 960px;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap:1rem;
}
.wrapper div
{
    border-radius: 3px;

}
.grid1
{
    background: url(bg.jpg),center/cover no-repeat;
    grid-column: span 9;
    grid-row: span 3;
}
.category
{
    font-size:0.7rem;
    font-weight: 700;
    margin:0;
    line-height: 1.5;
    letter-spacing:1px;
}
.fa-heart
{
    margin-right: 5px;

}
.read-more
{
    border: 2px solid white;
    border-radius: 2px;
    padding: 5px;
    color:white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.grid-container

{
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self:space-between;
    align-items: flex-start;
}
.grid2
{
    background: linear-gradient(red,green),url(bg.jpg);
    grid-column: span 3;
    grid-row: span 2;
}
.grid2 h3{
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}
.grid2 h6
{
    padding: 18px;
    text-align: left;
}

.grid3

{
    background: url(bg.jpg),center/cover no-repeat;
    grid-column: span 6;
    grid-row:span 2;
}
.grid4
{
    background: url(bg.jpg),center/cover no-repeat;
    grid-column: span 6;
    grid-row:span 2;
}

.grid4 .grid-container
{
    text-align: right;
    align-items: flex-end;
}

.grid5
{
    background: url(bg.jpg),center/cover no-repeat;
    grid-column: span 3;
    grid-row: span 4;
}

.grid6
{
    background: url(bg.jpg),center/cover no-repeat;
    grid-column:span 3;
    grid-row: span 2;
}
.grid7
{
    background: linear-gradient(rgb(81, 8, 110),white),url(bg.jpg),center/cover no-repeat;
    grid-column: span 3;
    grid-row: span 2;
}
.grid7 .read-more
{
    border: 1px solid white;
    background-color: white;
    border-radius: 2px;
}
.grid7 h5
{
    font-weight: 600;
}
.grid7 .grid-container
{
    text-align: center;
    align-items: center;
}
.grid8
{
    background:url(bg.jpg),center/cover no-repeat;
    grid-column: span 5;
    grid-row: span 2;

}
.grid9
{
    background: linear-gradient(grey,white),url(bg.jpg), center/cover no-repeat;
    grid-column: span 4;
    grid-row: span 2;
}

.grid3 h1,
.grid4 h1,
.grid6 h1,
.grid7 h1,
.grid8 h1,
.grid9 h1,
.grid5 h1{
    font-size: 1.82rem;
}