body {
  background-color: black;
  color: white;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.heading {
  display: flex;
  justify-content: center;
}
.menu {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 100px);
  gap: 10px;
}
.grida {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.grid1 {
  grid-column: span 9;
  grid-row: span 3;
}
.grid2 {
  grid-column: span 3;
  grid-row: span 2;
}
.opacitya {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
a,
a:visited,
a:link a:link:active,
a:visited:active {
  color: white;
  text-decoration: none;
}
.grid3 {
  grid-column: span 6;
  grid-row: span 2;
}
.grid4 {
  grid-column: span 6;
  grid-row: span 2;
  align-items: flex-end;
}
.grid5 {
  grid-column: span 3;
  grid-row: span 4;
}
.grid6 {
  grid-column: span 3;
  grid-row: span 2;
}
.grid7 {
  grid-column: span 3;
  grid-row: span 2;
}
.grid7 .topcart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  padding-right: 61px;
  background: linear-gradient(
    to top,
    rgba(187, 41, 187, 0),
    rgba(187, 41, 187, 1)
  );
}
.grid7 .topcart p {
  font-size: 19px;
}
.grid7 .topcart h6 {
  margin: 0;
}

.grid8 {
  grid-column: span 5;
  grid-row: span 2;
}
.grid9 {
  grid-column: span 4;
  grid-row: span 2;
}

h1 {
  font-size: 30px;
  margin-bottom: 3px;
}
p {
  font-size: 10px;
  margin-top: 1px;
}
.buttonRead {
  background-color: transparent;
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: white;
  display: flex;
  margin: 5px;
}

.buttonRead:hover {
  cursor: pointer;
}
